*{
  text-align: center;
}
.container{
  text-align: center;
}
.btn{
  margin: 5px 5px 5px 5px;
}
#answer-buttons{
  display: inline-grid;
}
.correct{
  background-color: green;
}
.incorrect{
  background-color: red;
}
.hide{
  display: none;
}
